@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 15px;
  line-height: 1.4em;
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: black;
}
h3 {
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}
.subtitle {
  font-size: 18px;
  font-family: Georgia;
  font-style: italic;
  text-transform: none;
  color: white;
  font-weight: bold;

}
.post-info p {
  display: inline-block;
  margin-right: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.post-info p span {
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  padding-right: 12px;
}
.cover {
  display: block;
  margin: -49px;
  padding: 0;
  width: 100%;
  height: 106%;
  position: absolute;
  z-index: 3;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
}
.media-wrapper {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  overflow: hidden;

}
.media-wrapper.cover-image {
  overflow: hidden;
}
.media-wrapper .cover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background-attachment: fixed;
  background-size: cover;
}
.media-wrapper figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 120px 35% 40px 65px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  z-index: 1;
}
.media-wrapper figcaption:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 47%, rgba(0, 0, 0, 0.8) 100%);
  z-index: -1;
}



.show-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  padding: 40px 65px 40px 0;
  text-align: right;
  z-index: 1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.content {
  display: inline-block;
  text-transform: none;
  font-style: italic;
  font-family: Georgia;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
.content-icon {
  display: inline-block;
  width: 32px;
  margin-left: 16px;
  margin-top: -18px;
  vertical-align: middle;
}
.content-icon-bar {
  display: block;
  height: 3px;
  position: relative;
  width: 18px;
  background-color: rgba(255, 255, 255, 1);
  backface-visibility: hidden;
}
.content-icon-bar.left {
  transform: rotate(-45deg) translateY(9px);
}
.content-icon-bar.right {
  transform: rotate(45deg) translateY(9px);
  top: -3px;
}
.content-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: visible;
  opacity: 1;
}
.content-wrapper {
  position: relative;
  padding-top: 31vh;
  font-size: 0;
  max-height: 100vh;
  overflow: auto;
    margin-left: -48px;
}
.content-wrapper .media-wrapper {
  height: 0;
  padding-bottom: 56.25%;
}
.content-item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.content-item h3 {
  font-size: 18px;
}
.content-item .subtitle {
  font-size: 14px;
}
.content-item figcaption {
  padding: 20px 35% 20px 65px;
}
.content-item .post-info {
  font-size: 12px;
}
.item-number {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 65px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.about-text {
    position: absolute;
	font-size: 25px;
	line-height: 20px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
	top: 50%;
	left: 75px;
  font-family: Georgia;
	cursor: pointer;
	z-index: 2;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	transform: translateY(-50%);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.about-text:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -25px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
	opacity: 0.5;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.about-text:hover:before {
	opacity: 1;
	left: -30px;
}
.about-section {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-color: white;
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}
body.about-on .about-section {
	transform: translateX(0);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.about-close {
    position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	cursor: pointer;
	z-index: 11;
  background-color: black;

}
.about-close:hover {
    transform: rotate(90deg);
}

body.about-on .cover {
	transform: scale(0.75);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

.about-section img {
    width: 100px;
	height: 100px;
	border-radius: 4px;
	/* display: block; */
	/* margin: 0 auto; */
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
  object-fit: cover;
}
.about-section p span {
	letter-spacing: 1px;
	font-size: 25px;
	font-weight: 400;
}

@media screen and (max-width: 580px){
	.contact-section a{
		font-size: 17px;
	}
	.contact-section .social a{
		margin-left: 3px;
		margin-right: 3px;
		font-size: 13px;
		letter-spacing: 0;
	}
}

.about-text:hover:before {
	opacity: 1;
	left: -30px;
}

.button1 {
  position: absolute;
  left: 30%;
  top: 50%;
    height: 45px;
    width: 120px;
    border-radius: 100px;
    background-color: grey;
    font-size: 15px;
    color: white;
    font-weight: bolder;
}
.button2 {
  position: absolute;
  left: 53%;
  top: 50%;
    font-size: 15px;
  height: 45px;
  width: 120px;
  border-radius: 100px;
  background-color: grey;
  font-weight: bolder;
  color: white;
}

.button3 {
  position: absolute;
  right: 50%;
  top: 50%;
}
.button4 {
  position: absolute;
  right: 44%;
  top: 50%;
}

.parent {
  display: flex;
  align-items: center;
}

.lefty {


 height: 200px;
 margin: 0 auto;
 padding-left: 10px;
padding-top: 30px;
width: 80%;
}
.righty {
border-left: 2px dashed grey;
 height: 350px;
 padding-left: 20px;
padding-top: 30px;
width: 240%;
}


.row {
  display: flex;
  flex-direction: row;
   flex-wrap: wrap;
  width: 100%;
}


.column {
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; */
}

.
